{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/output.css">
  <title>{{template "title" .}} - PostBox</title>
</head>

<body class="text-3xl font-bold underline">
  <header>
    <h1><a href='/'>PostBox</a></h1>
  </header>

  <nav class="p-5 text-fuchsia-400">
    <a href='/'>Home</a>
  </nav>

  <section>
    {{template "body" .}}
  </section>

  {{template "footer" .}}
</body>

</html>
{{end}}
